{% extends "front-office/base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('code/front-office/css/custom/simple-calendar.scss') }}">
{% endblock %}

{% block navbar %}
{% include "front-office/shared/_connexion.html.twig" %}
{% include "front-office/shared/_navbar.html.twig" %}
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <h1>MON PANIER</h1>
    </div>
</div>

{% include "front-office/shared/_footer.html.twig" %}

{% block script %}{% endblock %}

{% endblock %}