{% extends "front-office/base.html.twig" %}

{% block navbar %}
{% include "front-office/shared/_connexion.html.twig" %}
{% include "front-office/shared/_navbar.html.twig" %}
{% endblock %}

{% block body %}
<trigger></trigger>
<!-- Main image coffret -->
<div class="row w-100 mt-5">
    <div class="col-6">
        <img src="{{ asset('ressources/img/gallery/Web1920_4.png') }}" alt="" class="w-100">
    </div>
    <div class="col-6">
        <h6 class="mt-5">Pour les particuliers > Shooting photo femme > Solo Découverte</h6>
        <div class="card card-square bg-lightgray border-none text-dark w-50 mt-5">
            <div class="card-tittle">
                <h5 class="card-title text-center text-light">Coffret Solo Découverte</h5>
            </div>
            <div class="card-body">
                <p>- 1 maquillage</p>
                <p>- 1h de shooting</p>
                <p>- 20 photos</p>
                <p>- 2 photos imprimées</p>
                <hr>
                <div class="row">
                    <div class="col col-md-6 col-sm-12 col-12">
                        <button>Offrir en cadeau</button>
                    </div>
                    <div class="col col-md-6 col-sm-12 col-12">
                        <button>Panier</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<div class="container-fluid">
    <div class="row">
        <h2 class="text-primary">Le déroulé d'un shooting photo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eos aut unde dolor explicabo facere
            est, magnam reiciendis deserunt deleniti!</p>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <h3 class="text-black">Anticipation</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <h3 class="text-black">Anticipation</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <h3 class="text-black">Anticipation</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h4>Plus de questions sur les shooting ?</h4>
            <button class="rounded-pill bg-light border-primary">Consulter la FAQ</button>
        </div>
    </div>
</div>

<!-- Bandeau -->
<div class="w-100 bg-secondary p-5">
    <div class="container-fluid">
        <div class="row text-center">
            <h3 class="text-black">Et si on imprimait vos photos dans des supports ?</h3>
        </div>
        <div class="row">
            <div class="col">
                <h6>Porte-clé photo</h6>
            </div>
            <div class="col">
                <h6>Albums photo</h6>
            </div>
            <div class="col">
                <h6>Boule à neige</h6>
            </div>
            <div class="col">
                <h6>Porte-clé photo</h6>
            </div>
            <div class="col">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, neque.</p>
                <button class="rounded-pill bg-light text-black">Voir tout</button>
            </div>
        </div>
    </div>
</div>

<!-- Photos + desc -->
<div class="container-fluid">
    <div class="row">
        <h3 class="text-primary">Les dernières photos de shooting</h3>
        <div class="carrousel">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quisquam recusandae. Ea earum nemo iste ipsa
            nobis iusto commodi obcaecati. Incidunt deleniti libero, quos nostrum nisi dolorum dolore nesciunt officia
            eius rerum iste voluptates hic amet quas distinctio, optio quaerat adipisci? Odio qui eaque minus rem. Rem
            quam soluta minima.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illum fugit ex maiores laborum beatae facere
            eveniet voluptatem aliquam voluptate quis explicabo doloribus, molestias autem.</p>
    </div>
</div>

<!-- Autres coffrets -->
<div class="container-fluid">
    <div class="row">
        <h3 class="text-primary">Nos autres coffrets solo</h3>
        <div class="col">
            <div class="card card-square bg-light border-none text-dark w-50 mt-5">
                <div class="card-tittle">
                    <h5 class="card-title text-center text-primary">Coffret Solo Découverte</h5>
                </div>
                <div class="card-body">
                    <p>- 1 maquillage</p>
                    <p>- 1h de shooting</p>
                    <p>- 20 photos</p>
                    <p>- 2 photos imprimées</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-square bg-light border-none text-dark w-50 mt-5">
                <div class="card-tittle">
                    <h5 class="card-title text-center text-primary">Coffret Solo Découverte</h5>
                </div>
                <div class="card-body">
                    <p>- 1 maquillage</p>
                    <p>- 1h de shooting</p>
                    <p>- 20 photos</p>
                    <p>- 2 photos imprimées</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-square bg-light border-none text-dark w-50 mt-5">
                <div class="card-tittle">
                    <h5 class="card-title text-center text-primary">Coffret Solo Découverte</h5>
                </div>
                <div class="card-body">
                    <p>- 1 maquillage</p>
                    <p>- 1h de shooting</p>
                    <p>- 20 photos</p>
                    <p>- 2 photos imprimées</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Other -->
<div class="container-fluid bg-light mt-5 mb-5">
	<div class="row mt-5 mb-5">
		<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<p class="text-black">Vous avez une question ?</p>
			<h4 class="text-black">N'hésitez pas à nous contacter !</h4>
		</div>
		<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pt-3">
			<button class="btn text-primary rounded-pill btn-outline-primary">
				<strong>Formulaire de contact</strong>
			</button>
			<button class="btn text-white rounded-pill" style="background-color: var(--bs-orange);">
				<strong>01 43 45 75 65</strong>
			</button>
		</div>
	</div>
</div>

{% include "front-office/shared/_footer.html.twig" %}

{% endblock %}

{% block script %}
    <script src="{{ asset('code/front-office/js/custom/onScroll.js') }}"></script>
    <script src="{{ asset('code/front-office/js/custom/multi-item.js') }}"></script>
{% endblock %}