{% extends "admin/admin-base.html.twig" %}

{% block content %}

    <!-- .row -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="border-bottom title-part-padding d-flex flex-row justify-content-start align-items-center">
                <h4 class="card-title mb-0">Gestion du site</h4>
                <a href="{{ path('adminCodePromoAdd') }}" class="btn px-4 rounded-pill btn-info mx-4"
                    role="button">Créer une page</a>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

{% endblock %}