{% extends "admin/admin-base.html.twig" %}



{% form_theme formView _self %}



{% block stylesheets %}

{% endblock %}



{% block content %}

    <!-- .row -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="border-bottom title-part-padding d-flex flex-row justify-content-start align-items-center">
                <h4 class="card-title mb-0">Ajout d'une brique</h4>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

{% endblock %}