<!-- Footer -->
<footer class="text-center text-lg-start text-white bg-gradient-custom">
	<!-- Grid container -->
	<div class="container">
		<!-- Section: Links -->
		<section class="">
			<!--Grid row-->
			<div class="row pb-5">
				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
					<img src="{{ asset('ressources/logo/logo_blanc.png') }}" height="150" alt="" class="pb-3">
				</div>

				<!-- Grid column -->

				<hr class="w-100 clearfix d-md-none" />

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
					<ul class="list-inline">
						<li>Notre blog</li>
						<li>Foire aux questions</li>
						<li>Contact</li>
						<li>Option de paiement</li>
					</ul>

					<!-- Instagram -->
					<a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!"
						role="button"><i class="fab fa-instagram"></i></a>

					<!-- Facebook -->
					<a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!"
						role="button"><i class="fab fa-facebook-f"></i></a>

					<!-- Twitter -->
					<a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!"
						role="button"><i class="fab fa-twitter"></i></a>

					<!-- Linkedin -->
					<a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!"
						role="button"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<!-- Grid column -->

				<hr class="w-100 clearfix d-md-none" />

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
					<p>
						Le Studio Bontant propose des prestations photographiques variées pour les particuliers et les
						professionnels.
					</p>
				</div>

				<!-- Grid column -->
				<hr class="w-100 clearfix d-md-none" />

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
					<h5 class="text-uppercase mb-4 fw-bold text-sb-yellow">Liens rapides</h5>
					<ul class="list-inline">
						<li>
							<a>Shooting groupe - famille</a>
						</li>
						<li>
							<a>Shooting solo</a>
						</li>
						<li>
							<a>Shooting grossesse - naissance</a>
						</li>
						<li>
							<a>Shooting enfant</a>
						</li>
						<li>
							<a>Shooting duo - couple</a>
						</li>
					</ul>
				</div>
				<!-- Grid column -->

			</div>
			<!--Grid row-->
		</section>
		<!-- Section: Links -->
	</div>
	<!-- Grid container -->

	<!-- Copyright -->	
	<div class="p-3 bg-sb-yellow">
		<div class="container-fluid">
			<div class="row fw-bold text-sb-blue-energy mt-3 d-flex align-items-center justify-content-center">
				<div class="col-md-2">
					<p class="text-center">Mentions légales</p>
				</div>
				<div class="col-md-1">
					<p class="text-center">CGV & CGU</p>
				</div>
				<div class="col-md-2">
					<p class="text-center">Politique de confidentialité</p>
				</div>
				<div class="col-md-2">
					<p class="text-center">Données personnelles</p>
				</div>
				<div class="col-md-3">
					<p class="text-center">© Studio Bontant 2022 - Tous droits réservés</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->