{% extends "admin/app-core.html.twig" %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#"></a>Site web</li>
    <li class="breadcrumb-item"><a href="{{ path('adminGalerie') }}">Gestion galeries</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('adminGalerieEdit') }}">Modifier une galerie</a></li>
{% endblock %}

{% block content %}
    FAIRE LE FORM
{% endblock %}