<div class="container bg-white my-5">
	<div class="row mt-5 mb-3">
		<div class="col-12 text-center">
			<h2 class="h5 fw-bold text-sb-blue-energy">Merci pour les 4.8 * sur Google !</h2>
			<p class="fw-bold text-sb-gray-d">Découvrez les avis de nos clients</p>
		</div>
	</div>
	<div id="googleCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="cards-wrapper">
					<div class="card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Marie & Stéphane 1</h5>
							<h5 class="card-title text-center fs-4 text-sb-gray-d">Shooting grossesse</h5>
							<div class="row justify-content-center pt-4">
								<div class="col-10">
									<p class="card-text text-left text-sb-gray-d">Lorem ipsum dolor sit, amet
										consectetur
										adipisicing elit. Et blanditiis ipsa repellendus ab accusantium. Rem debitis
										aspernatur
										vel vero officia incidunt sapiente voluptatum consectetur distinctio! Lorem
										ipsum dolor sit, amet consectetur adipisicing elit. Praesentium quam deleniti
										debitis perspiciatis corrupti repellat!</p>
								</div>
							</div>
						</div>
					</div>
					<div class="card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Marie & Stéphane 2</h5>
							<h5 class="card-title text-center fs-4 text-sb-gray-d">Shooting grossesse</h5>
							<div class="row justify-content-center pt-4">
								<div class="col-10">
									<p class="card-text text-left text-sb-gray-d">Lorem ipsum dolor sit, amet
										consectetur
										adipisicing elit. Et blanditiis ipsa repellendus ab accusantium. Rem debitis
										aspernatur
										vel vero officia incidunt sapiente voluptatum consectetur distinctio! Lorem
										ipsum dolor sit, amet consectetur adipisicing elit. Praesentium quam deleniti
										debitis perspiciatis corrupti repellat!</p>
								</div>
							</div>
						</div>
					</div>
					<div class="card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Marie & Stéphane 3</h5>
							<h5 class="card-title text-center fs-4 text-sb-gray-d">Shooting grossesse</h5>
							<div class="row justify-content-center pt-4">
								<div class="col-10">
									<p class="card-text text-left text-sb-gray-d">Lorem ipsum dolor sit, amet
										consectetur
										adipisicing elit. Et blanditiis ipsa repellendus ab accusantium. Rem debitis
										aspernatur
										vel vero officia incidunt sapiente voluptatum consectetur distinctio! Lorem
										ipsum dolor sit, amet consectetur adipisicing elit. Praesentium quam deleniti
										debitis perspiciatis corrupti repellat!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="cards-wrapper">
					<div class="card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Marie & Stéphane 4</h5>
							<h5 class="card-title text-center fs-4 text-sb-gray-d">Shooting grossesse</h5>
							<div class="row justify-content-center pt-4">
								<div class="col-10">
									<p class="card-text text-left text-sb-gray-d">Lorem ipsum dolor sit, amet
										consectetur
										adipisicing elit. Et blanditiis ipsa repellendus ab accusantium. Rem debitis
										aspernatur
										vel vero officia incidunt sapiente voluptatum consectetur distinctio! Lorem
										ipsum dolor sit, amet consectetur adipisicing elit. Praesentium quam deleniti
										debitis perspiciatis corrupti repellat!</p>
								</div>
							</div>
						</div>
					</div>
					<div class="card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Marie & Stéphane 5</h5>
							<h5 class="card-title text-center fs-4 text-sb-gray-d">Shooting grossesse</h5>
							<div class="row justify-content-center pt-4">
								<div class="col-10">
									<p class="card-text text-left text-sb-gray-d">Lorem ipsum dolor sit, amet
										consectetur
										adipisicing elit. Et blanditiis ipsa repellendus ab accusantium. Rem debitis
										aspernatur
										vel vero officia incidunt sapiente voluptatum consectetur distinctio! Lorem
										ipsum dolor sit, amet consectetur adipisicing elit. Praesentium quam deleniti
										debitis perspiciatis corrupti repellat!</p>
								</div>
							</div>
						</div>
					</div>
					<div class="card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Marie & Stéphane 6</h5>
							<h5 class="card-title text-center fs-4 text-sb-gray-d">Shooting grossesse</h5>
							<div class="row justify-content-center pt-4">
								<div class="col-10">
									<p class="card-text text-left text-sb-gray-d">Lorem ipsum dolor sit, amet
										consectetur
										adipisicing elit. Et blanditiis ipsa repellendus ab accusantium. Rem debitis
										aspernatur
										vel vero officia incidunt sapiente voluptatum consectetur distinctio! Lorem
										ipsum dolor sit, amet consectetur adipisicing elit. Praesentium quam deleniti
										debitis perspiciatis corrupti repellat!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="cards-wrapper">
					<div class="card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Marie & Stéphane 7</h5>
							<h5 class="card-title text-center fs-4 text-sb-gray-d">Shooting grossesse</h5>
							<div class="row justify-content-center pt-4">
								<div class="col-10">
									<p class="card-text text-left text-sb-gray-d">Lorem ipsum dolor sit, amet
										consectetur
										adipisicing elit. Et blanditiis ipsa repellendus ab accusantium. Rem debitis
										aspernatur
										vel vero officia incidunt sapiente voluptatum consectetur distinctio! Lorem
										ipsum dolor sit, amet consectetur adipisicing elit. Praesentium quam deleniti
										debitis perspiciatis corrupti repellat!</p>
								</div>
							</div>
						</div>
					</div>
					<div class="card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Marie & Stéphane 8</h5>
							<h5 class="card-title text-center fs-4 text-sb-gray-d">Shooting grossesse</h5>
							<div class="row justify-content-center pt-4">
								<div class="col-10">
									<p class="card-text text-left text-sb-gray-d">Lorem ipsum dolor sit, amet
										consectetur
										adipisicing elit. Et blanditiis ipsa repellendus ab accusantium. Rem debitis
										aspernatur
										vel vero officia incidunt sapiente voluptatum consectetur distinctio! Lorem
										ipsum dolor sit, amet consectetur adipisicing elit. Praesentium quam deleniti
										debitis perspiciatis corrupti repellat!</p>
								</div>
							</div>
						</div>
					</div>
					<div class="card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Marie & Stéphane 9</h5>
							<h5 class="card-title text-center fs-4 text-sb-gray-d">Shooting grossesse</h5>
							<div class="row justify-content-center pt-4">
								<div class="col-10">
									<p class="card-text text-left text-sb-gray-d">Lorem ipsum dolor sit, amet
										consectetur
										adipisicing elit. Et blanditiis ipsa repellendus ab accusantium. Rem debitis
										aspernatur
										vel vero officia incidunt sapiente voluptatum consectetur distinctio! Lorem
										ipsum dolor sit, amet consectetur adipisicing elit. Praesentium quam deleniti
										debitis perspiciatis corrupti repellat!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#googleCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#googleCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>