<div class="container">
	<h2 class="text-sb-blue-energy fw-bold h3 pt-5 pb-3">Nos prestations pour les particuliers</h2>
	<div id="partCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="cards-wrapper">
					<div class="card card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Shooting photo n°1</h5>
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Groupe - famille</h5>
							<p class="card-text text-center text-sb-gray-d">à partir de 129€</p>
						</div>
					</div>
					<div class="card card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Shooting photo n°2</h5>
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Groupe - famille</h5>
							<p class="card-text text-center text-sb-gray-d">à partir de 129€</p>
						</div>
					</div>
					<div class="card card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Shooting photo n°3</h5>
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Groupe - famille</h5>
							<p class="card-text text-center text-sb-gray-d">à partir de 129€</p>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="cards-wrapper">
					<div class="card card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Shooting photo n°4</h5>
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Groupe - famille</h5>
							<p class="card-text text-center text-sb-gray-d">à partir de 129€</p>
						</div>
					</div>
					<div class="card card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Shooting photo n°5</h5>
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Groupe - famille</h5>
							<p class="card-text text-center text-sb-gray-d">à partir de 129€</p>
						</div>
					</div>
					<div class="card card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Shooting photo n°6</h5>
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Groupe - famille</h5>
							<p class="card-text text-center text-sb-gray-d">à partir de 129€</p>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="cards-wrapper">
					<div class="card card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Shooting photo n°7</h5>
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Groupe - famille</h5>
							<p class="card-text text-center text-sb-gray-d">à partir de 129€</p>
						</div>
					</div>
					<div class="card card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Shooting photo n°8</h5>
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Groupe - famille</h5>
							<p class="card-text text-center text-sb-gray-d">à partir de 129€</p>
						</div>
					</div>
					<div class="card card-d3 bg-none border-none mb-2">
						<img src="/ressources/img/gallery/img_card.png" class="card-img-square-top custom-index"
							alt="...">
						<div class="card-body bg-sb-white card-body-rounded-bot light-shadow">
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Shooting photo n°9</h5>
							<h5 class="card-title text-center fw-bold fs-4 text-sb-gray-d">Groupe - famille</h5>
							<p class="card-text text-center text-sb-gray-d">à partir de 129€</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#partCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#partCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>