<div class="container mt-5">
	<div class="row d-flex align-items-end justify-content-center pt-4">
		<div class="col-12 col-md-5">
			<p class="text-sb-gray-d fs-5">Vous avez une question ?</p>
			<h4 class="text-sb-gray-d fs-3 fw-bold">N'hésitez pas à nous contacter !</h4>
		</div>
		<div class="col-12 col-md-5 pt-3 d-flex align-items-end">
			<button class="btn rounded-pill btn-outline-sb-blue-energy btn-outline-wide mx-2">
				<span class="fw-bold h6">Formulaire de contact</span>
			</button>
			<button class="btn btn-sb-orange text-sb-white rounded-pill mx-2 fs-5">
				A
			</button>
			<button class="btn btn-success text-sb-white rounded-pill mx-2 fs-5">
				A
			</button>
			<button class="btn btn-sb-blue-l text-sb-white rounded-pill mx-2 fs-5">
				A
			</button>
		</div>
	</div>
</div>