<div class="container-fluid d-flex align-items-center" style="background-image: url({{ asset('ressources/img/gallery/Web1920_4.png') }}); height: 95vh;">
    <div class="container">
        <div class="row d-flex justify-content-start">
            <article class="col-12 col-md-4 text-sb-white">
                <h2>Shooting photo femme</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit rem nihil eum, unde consequatur
                    incidunt
                    quos voluptate, accusantium dolorum nemo earum vero eligendi in autem voluptas! Soluta, sint.
                    Repellendus, ullam officia animi molestiae quis nam.</p>
            </article>
        </div>
    </div>
</div>